td {
    text-align: center;
  }
  
  pagination-controls{
      text-align: center;
  } 
  
  .perPage{
    margin-bottom: 20px;
  }
  
  table {
      width: 100%;
      margin-bottom: 1rem;
      color: #212529;
      background-color: transparent;
    }
  
    
    thead th {
      text-align: center;
      background-color: #f8f9fa;
    }
    
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    img {
      display: block;
      margin: 0 auto;
    }
    
    .form-group {
      margin-top: 1rem;
      text-align: center;
    }
    
    label {
      display: inline-block;
      margin-bottom: 0.5rem;
    }
    
    select.form-control {
      width: auto;
      display: inline-block;
      margin-left: 1rem;
    }
  
    .sort{
      position: relative;
      left: 4vh;
    }