.pokemon-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    margin: 20px;
  }
  
  .pokemon-detail img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  .pokemon-detail h2 {
    margin-top: 0;
    font-size: 36px;
  }
  
  .pokemon-detail p {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .pokemon-detail p:nth-child(2) {
    margin-top: 20px;
  }
  